.p__top{
  padding-top: 70px;
}
.signup{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup__info{
  background-color: #fff;
  padding: 30px 25px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}
.login{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__info{
  background-color: #fff;
  padding: 30px 25px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}
.input-group input, .input-group textarea{
  width: 100%;
  padding: 10px 30px 10px 15px;
  border-radius: 30px;
  border: 2px solid rgb(160, 159, 159);
  margin: 0px 0 15px;
}
.input-group input[type="date"]{
  width: initial;
  padding: 10px 15px 10px 15px;
}
.input-group input:focus, .input-group textarea:focus{
  outline: none;
}
.input-group .form-icon{
  position: absolute;
  right: 20px;
  top: 12px;
  color: rgb(160, 159, 159);
}
.btn{
  background-color: #0F0F3A;
  /* background-color: #DA1D19; */
  color: #fff;
  border-radius: 25px;
  padding: 10px 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}
.btn--sm{
  width: 120px;
}
.btn--lg{
  width: 100%;
}
.btn--xsm{
  padding: 5px 10px;
  font-size: 14px;
}
.btn--blue{
  color: #fff;
  background: linear-gradient(to top, #4292ff, #388cff, #2e86ff, #2380ff, #177aff);
  /* border: 2px solid #0F0F3A; */
  font-weight: bold;
}
.btn:focus{
  outline: none;
  box-shadow: none;
}
.btn:hover{
  color: #fff;
}
.btns{
  display: flex;
  justify-content: space-between;
}
.btn--blue:hover{
  color: #fff;
}
.single__btn{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.profile__img{
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile__img img{
  border: 2px solid #000;
}
.err{
  color: red;
}
.choosen__file{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.date__field{
  display: flex;
  align-items: center;
}
.date__field p {
  display: none;
}

@media screen and (max-width: 768px) {
  .date__field p {
    display: block;
  }
  .choosen__file h5{
    font-size: 15px;
  }
}