.error__page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #0F0F3A;
}
.error__page h2{
  font-size: 150px;
  font-weight: bold;
}
.error__page h3{
  font-size: 50px;
  font-weight: bold;
}
@media screen and (max-width: 768px){
  .error__page h2{
    font-size: 100px;
  }
  .error__page h3{
    font-size: 25px;
  }
}